body{
    height: 100vh;
    width: 100%;
    margin: 0px;
    background-color: rgb(102, 95, 95);
}
.main { 
    padding: 0;
}
h2{
    margin: 0;
}
nav{
    position: fixed;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 25px;
    align-content: left;
    top: 100px;
    right: 30px;
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.473);
}
li{
    padding: 30px 0px;
    margin-right: 20px;
}
a{
    font-size: 30px;
    text-decoration: none;
    color: white;
}
a:hover{
    color: grey;
}
ul{
    list-style: none;
}
header{
    line-height: 190px;
}
p{
    color: white;
    font-size: 10px;
}
div span{
    margin: 0;
    font-size: 40px;
    font-family: 'Staatliches', cursive;
    color: rgb(91, 219, 91);
    position: relative;
    bottom: 30px;;
}
main h2{
    display: inline-block;
    margin: 0;
    position: relative;
    font-size: 50px;
    font-family: 'Staatliches', cursive;
    color: orange;
    bottom: 100px;
}
.kassi1{
    font-family: 'Staatliches', cursive;
    height: 100vh;
    padding: 50px;
    background-image: linear-gradient(orange ,rgb(121, 113, 113) 15%);
}
h3{
    color: white;
}
.kassi2{
    font-family: 'Staatliches', cursive;
    height: 100vh;
    padding: 50px;
    background-image: linear-gradient(rgb(121, 113, 113), green 60%)
}
.sect1 h2{
    display: inline-block;
    margin: 0;
    position: relative;
    bottom: 20px;
    font-size: 50px;
    font-family: 'Staatliches', cursive;
    color: white;
}
.sect1 li{
    color: white;
}

.kassi1 p{
    color: rgb(238, 171, 46);
    position: relative;
    bottom: 90px;
    font-size: 25px;
    margin: 0;
    padding: 0;
}
.kassi2 p{
    font-size: 23px;
    margin: 0;
}
.kassi3 p{
    font-size: 18px;
    margin: 0;
}
.foot p{
    font-size: 25px;
    margin: 0;
}

.kassi3{
    font-family: 'Staatliches', cursive;
    height: 200vh;
    padding: 50px;
    background-image: linear-gradient(orange,grey);
}
.sect2 h2{
    display: inline-block;
    padding: 0;
    margin:0;
    position: relative;
    bottom: 96px;
    font-family: 'Staatliches', cursive;
    color: orange;
    font-size: 50px;
}
.logo{
    position: relative;
    float: right;
    right: 400px;
    bottom: 230px;
    width: 200px;
}
.egsjalfur{
    position: relative;
    left: 280px;
    bottom: 400px;
    height: 420px;
    width: 600px;
}
.mynd1{
    position: relative;
    bottom: 360px;
    background-image: linear-gradient(grey,orange);
    padding: 5px;
    margin: 0;
    width: 300px;
}
.mynd2{
    position: relative;
    bottom: 20px;
    right: 310px;
    background-image: linear-gradient(grey,orange);
    padding: 5px;
    margin: 0;
    width: 300px;
}
.mynd3{
    position: relative;
    bottom: 190px;
    right: 35px;
    background-image: linear-gradient(grey,orange);
    padding: 5px;
    margin: 0;
    width: 300px;
}

.myndband{
    background-image: linear-gradient(gray,green);
    position: relative;
    left: 80px;
    padding: 5px;
    width: 800px;
}
.hljod{
    position: relative;
    top: 100px;
    right: 700px;
}
.hljod2{
    position: relative;
    top: 42px;
    bottom: 0px;
    left: 550px;

}
.vidmynd1{
    position: relative;
    left: 320px;
    bottom: 40px;
    
}
.vidmynd2{
    position: relative;
    top: 170px;
    left: 320px;
}
.vidmynd3{
    position: relative;
    text-align: right;
    right: 580px;
    bottom: 110px;
}
.kassi4{
    font-family: 'Staatliches', cursive;
    color: white;
    height: 110vh;
    padding: 50px;
    background-image: linear-gradient(rgb(43, 38, 38),black);
}
.kassi4 h2{
    display: inline-block;
    padding: 0;
    margin: 0 auto;
    position: relative;
    bottom: 65px;
    color: grey;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
}
.foot li{
    margin: 0px;

}
.foot ul{
    padding: 0;
}
.skipting{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.verk1{
    color: orange;
}
.verk2{
    color: green;
}
.verk3{
    color:yellow;
}
.verk4{
    color: blue;
}
.verk5{
    color: gray;
}
.kort{

}

